<div class="secondary-container">
	<div class="well">
	<button class="btn btn-primary">Crear Mascotas</button>
	<div id="contenedor_mascotas" class="">
    <%= render "mascota" %>
  </div>
  </div>
</div>