.center{
  text-align: center;
  padding: 20px 0 20px 0;
}

.contenedor-formulario{
  height: 360px;
}

.primera_fila{
  margin-left: 80px;
  width: 500px;
}
.segunda_fila{
  width: 220px;
}

.paypal{
  form{
    margin: 0;
  }
}
.botones{
  border-top: 1px solid #DDDDDD;
  margin-top: 25px;
  padding-top: 25px;
  width: 740px;
  float: right;
}