<div class="main-container">
  <div class="container-fluid" id="intro">
    <div class="container">
      <div class="row span6 center titulo">
        <h1>Primer y Mejor <br>sitio para encontrar tu mascota perdida en cualquier parte</h1>
        <div class="fondo_transparente">
          <p>Somos el primer sitio Chileno en traerte la posibilidad de encontrar tu mascota sin necesidad de pegar carteles en todas las calles.</p>
        </div>
        <a href="#" class="btn btn-xlarge btn-blanco registro" data-tipo-ingreso="registro">Registrate</a>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="container">
    <div class="container light">
      <h1>¿Cómo funciona?</h1>
      <ul class="thumbnails proceso">
        <li class="span4">
          <div class="thumbnail">
            <%= image_tag('form.png') %>
            <h3>Te Registras</h3>
            <p>Completas tu perfil, para que sepan quien eres y que mascotas tienes</p>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <%= image_tag('map.png') %>
            <h3>Elijes sector</h3>
            <p>Seleccionas el sector donde de extravió tu mascota</p>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
              <%= image_tag('found.png') %>
              <h3>Seleccionas mascota</h3>
              <p>Escojes alguna mascota de la lista que hayas agregado</p>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
              <%= image_tag('wait.png') %>
              <h3>Esperas</h3>
              <p>Te llegarán notificaciones y correos electronicos de los reportes de "Encontrados"</p>
          </div>
        </li>

      </ul>
    </div>
  </div>

</div>

<script type="text/javascript">
  $j(function(){
    Home.init();
  });
</script>