<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      <a class="brand scroller" data-section="html" href="index.html">
        <%= image_tag('logo.png', id:"logo") %> PetFinder
      </a>
      <div class="nav-collapse collapse">
        <% unless @session %>
          <ul class="nav pull-right">
            <li><a href="#"  class="login" data-tipo-ingreso="login">Login</a></li>
          </ul>
        <% else %>
          <ul class="nav pull-right" role="navigation">
            <li class="dropdown">
              <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-home icon-black"></i> <%= nombre_usuario(@usuario) %><b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/perfil"><i class="icon-user icon-black"></i> Perfil</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="icon-envelope"></i> Mis mensajes (1)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/mascota"><i class="icon-leaf"></i> Mis mascotas</a></li>
                <li role="presentation" class="divider"></li>

                <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout"><i class="icon-off"></i> Cerrar Sesión</a></li>
              </ul>
            </li>
          </ul>
        <% end %>
        <ul class="nav pull-right">
          <li><a href="#" class="scroller" data-section="#about">Nosotros</a></li>
          <li><a href="#" class="scroller" data-section="#contact">Contactenos</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


